@import url('global.css');

/* Start hero-section */
.hero-section {
  height: calc(100vh - (120px));
  position: relative;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../assets/images/economy/landing.jpg');
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  padding-top: 100px;
}
.hero-section__bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  object-fit: cover;
}
.hero-section::after {
  content: '';
  background-color: #d9d9d94c;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero-section__title {
  color: #444343;
  font-weight: 700;
  font-size: 80px;
}
.hero-section__description {
  font-size: 20px;
  width: 40%;
}

@media (max-width: 768px) {
  .hero-section {
    padding-left: 20px;
    padding-top: 100px;
  }
  .hero-section__title {
    font-size: 40px;
  }
  .hero-section__description {
    font-size: 18px;
  }
}
/* End hero-section */

/* Start features-section */
.features-section {
  margin-top: 40px;
  margin-bottom: 40px;
}
.features-section .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.features__feature {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.features__feature:not(:last-child) {
  border-right: 2px solid #D9D9D9;
}
.feature__title {
  font-size: 30px;
}
.feature__description {
  font-size: 18px;
}
.feature__img {
  width: 60px;
}
/* End features-section */

/* Start .content */
.content .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content__news-card {
  margin-bottom: 20px;
}
.news-card__img {
  width: 90%;
  object-fit: cover;
  max-height: 300px;
}
.news-card__info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.news-card__location {
  color: #D91F26;
}
.news-card__slash {
  width: 2px;
  height: 20px;
  background-color: #000000;
}
.news-card__heading {
  color: #666666;
}

.news-card__title {
  font-weight: 700;
}
/* End .content */