:root {
  --main-color: #EC1616;
  --second-color: #fff;
  --third-color: #000;
  --gray-bg-color: #0000004A;
  --fourth-color: #c7c7c7;
  --news-description-fs: 13px;

  --card-title-font-size: 18px;
  --card-info-font-size: 13px;
  --card-description-font-size: 13px;
  
  --sidebar-title-font-size: 16px;
  --sidebar-info-font-size: 13px;

  --featured-title-font-size: 24px;
  --featured-description-font-size: 14px;

  --header-padding-left-right: 20px;
}

/* ==================== */

.card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  margin-bottom: 10px;
}
.card__title {
  font-size: var(--card-title-font-size);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card__title:hover {
  color: var(--main-color);
  text-decoration: underline;
}
.card__info {
  display: flex;
  font-size: var(--card-info-font-size);
  justify-content: space-between;
  margin-top: 4px;
  margin-bottom: 4px;
  color: var(--fourth-color);
}
.card__description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--third-color);
  font-size: var(--card-description-font-size);
}


/* ==================== */




* {
  font-family: Inter, san-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  position: relative;
}

.container {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: var(--third-color);
  font-weight: 600;
}

ul {
  list-style: none;
}

img {
  display: block;
}

/* Start Header */
.header {
  border-bottom: 2px solid var(--gray-bg-color);
  background-color: var(--second-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px var(--header-padding-left-right);
}

.social-links {
  display: flex;
  gap: 10px;
}

.social-links__icon {
  font-size: 20px;
  color: black;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__logo {
  width: 60px;
  margin-top: 6px;
}

.header__logo-text {
  width: 120px;
  margin-top: 4px;
}

.header__contact-link:hover {
  text-decoration: underline;
}

/* Responsive Header */
@media (max-width: 768px) {
  .social-links__icon {
    font-size: 14px;
  }
  .header__logo {
    margin-top: 6px;
  }
  .header__logo-text {
    display: none;
  }
  .header__contact-link {
    font-size: 14px;
  }
}
/* End Header */

/* Start Sub-Header */
.sub-header {
  padding: 6px 0;
  border-bottom: 2px solid var(--gray-bg-color);
  background-color: var(--second-color);
}

.language-switcher {
  display: flex;
  gap: 6px;
  align-items: center;
}
.language-switcher-icon {
  color: var(--main-color);
  font-size: 28px;
}
#language-selector {
  border: none;
  font-weight: 800;
  font-size: 14px;
  cursor: pointer;
}

.sub-header  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.sub-header__menu {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
}

.sub-header-menu__close {
  display: none;
}

.sub-header__navigation {
  width: 60%;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.sub-header__link {
  position: relative;
  font-weight: 800;
  padding: 2px;
  border-radius: 4px;
}
.sub-header__link:hover {
  background-image: linear-gradient(to bottom, #ec161638, white);
}
.sub-header__link--active::after {
  content: '';
  width: 60%;
  height: 2px;
  background-color: #EC1616;
  position: absolute;
  left: 0;
  top: calc(100% + 2px);
}


.login-btn {
  background-color: var(--main-color);
  padding: 6px 40px;
  border-radius: 100px;
  color: var(--second-color);
}
.login-btn:hover {
  background-color: rgba(246, 23, 23, 0.83);
}
.login-btn:active {
  background-color: rgba(246, 23, 23, 0.759);
}
.sub-header__menu-bar {
  display: none;
  padding: 4px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .sub-header .container {
    flex-direction: row-reverse;
  }
  .sub-header__menu {
    position: absolute;
    background-color: var(--fourth-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    z-index: 100;
    padding: 40px;
  }
  .sub-header__menu.show {
    display: flex;
  }

  .sub-header-menu__close {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--third-color);
    color: var(--third-color);
    font-size: 20px;
    cursor: pointer;
  }

  .sub-header__navigation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .sub-header__navigation li {
    width: 100%;
  }
  .sub-header__link {
    display: block;
    border: 1px solid var(--gray-bg-color);
    border-radius: 2px;
    padding: 10px;
    width: 100%;
  }
  .sub-header__link--active::after {
    background-color: #EC1616;
    top: 100%;
    width: 100%;
  }
  .login-btn {
    margin-top: 20px;
    text-align: center;
    padding: 15px;
  }
  .sub-header__menu-bar {
    display: block;
  }
}
/* End Sub-Header */


/* Start Google Ads */
/* .ads-section .container,
.sidebar-ads-section { */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
/* }
.sidebar-ads-section {
  margin-top: 20px;
}
.ads-section__heading {
  color: #B7B2B2;
  margin-bottom: 10px;
}
.ads-section__img {
  width: 100%;
} */
/* End Google Ads */


/* Start Sidebar */
.sidebar__heading {
  margin-bottom: 20px;
  background-color: var(--main-color);
  color: var(--second-color);
  border-radius: 6px;
  padding: 6px 20px;
}
.sidebar__cards {
  display: grid;
  gap: 10px;
}
.sidebar__card {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 10px;
}
.sidebar-card__title {
  font-size: var(--sidebar-title-font-size);
  -webkit-line-clamp: 3;
}
.video-thumbnail {
  position: relative;
}
.video-thumbnail__time {
  position: absolute;
  bottom: 4px;
  left: 4px;
  background-color: var(--third-color);
  font-size: 12px;
  color: var(--second-color);
  padding: 4px;
}
.video-thumbnail__image {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.sidebar-card__details {
  margin-top: 10px;
}
.sidebar-card__date {
  color: var(--fourth-color);
  margin-top: 4px;
  font-size: var(--sidebar-info-font-size);
}
/* End Sidebar */

/* Start Footer */
.footer {
  background-color: var(--gray-bg-color);
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.footer-social__heading {
  text-align: center;
  margin-bottom: 10px;
}
.footer-social__list {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  gap: 10px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}
.footer-nav__heading {
  color: var(--third-color);
  font-weight: 400;
  margin-bottom: 4px;
}
.footer-nav__list {
  display: grid;
  color: var(--third-color);
}
.footer-nav__link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer .container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
/* End Footer */


