@import url('global.css');

.slideshow {
  margin-top: 10px;
  margin-bottom: 10px;
}

.slideshow__container {
  position: relative;
  /* display: flex; */
  overflow: hidden;
}

.slideshow__news {
  width: 100%;
  display: flex;
  align-items: center;
  height: 450px;
  position: relative;
  padding: 20px;
  display: none;
  visibility: hidden;
  animation: fade 0.8s;
}
.slideshow__news--displayed {
  visibility: visible;
  display: flex;
  opacity: 1;
}

@keyframes fade {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.slideshow__text {
  max-width: 60%;
}

.slideshow__image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slideshow__date {
  color: var(--main-color);
}
.slideshow__publisher {
  color: var(--fourth-color);
  margin-bottom: 10px;
}
.slideshow__title {
  color: var(--second-color);
  font-size: 30px;
  margin-bottom: 10px;
}
.slideshow__description {
  color: var(--second-color);
  font-size: var(--news-description-fs);
  max-width: 600px;
  /* Adding [...] at the end of the text; when text over 2 lines */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.slider {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.slider__btn {
  background-color: transparent;
  border: none;
  color: var(--second-color);
  cursor: pointer;
}
.slider__btn:hover {
  opacity: 0.8;
}
.slider__btn--active {
  background-color: transparent;
  border: none;
  color: var(--fourth-color);
}



@media (max-width: 970px) {
  .slideshow__news {
    height: 350px;
  }
  .slideshow__text {
    max-width: 100%;
  }
}

/* Start top-news */
.top-news {
  margin-top: 10px;
  margin-bottom: 20px;
}
.top-news__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 30px;
}

.section__heading {
  margin-bottom: 20px;
  font-size: 30px;
}


/* Start featured-card News */

.featured-card__title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: var(--featured-title-font-size);
}

.featured-card__details {
  display: flex;
  justify-content: space-between;
  color: var(--fourth-color);
  margin-top: 4px;
  margin-bottom: 4px;
}
.featured-card__publisher,
.featured-card__date {
  font-size: 16px;
  color: var(--fourth-color);
}
.featured-card__publisher {
  margin-bottom: 4px;
}
.featured-card__date {
  margin-top: 4px;
  font-size: 14px;
}

.featured-card__description {
  /* Adding [...] at the end of the text; when text over 2 lines */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: var(--featured-description-font-size);
}
/* End featured-card News */

/* Start Latest News */
.latest__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.latest__card {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}
.latest__image {
  width: 100%;
  max-height: 135px;
}
.latest-card__text {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 10px;
}
.latest__title {
  /* Adding [...] at the end of the text; when text over 2 lines */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 18px;
}
.latest__details {
  display: flex;
  justify-content: space-between;
  color: var(--fourth-color);
}
.latest__description {
  font-size: var(--news-description-fs);
  /* Adding [...] at the end of the text; when text over 2 lines */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.featured-card__image {
  width: 100%;
  width: 100%;
  min-height: 400px;
  max-height: 430px;
}

@media (max-width: 970px) {
  .top-news__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 30px;
  }

  .latest__card {
    flex-direction: column;
  }
  .latest__image-link,
  .latest__image,
  .latest-card__text {
    width: 100%;
  }
}
/* End Latest News */
/* End top-news */

/* Start .content */
.content {
  margin-bottom: 20px;
  margin-top: 20px;
}
.content__container {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 20px;
}
.card__image {
  height: 280px;
}

.section-news__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.load-more-btn {
  padding: 10px;
  background-color: transparent;
  border: var(--main-color);
  border: 2px solid var(--main-color);
  color: var(--main-color);
  grid-column: span 2;
  margin-top: 20px;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

@media (max-width: 970px) {
  .content__container,
  .section-news__container {
    grid-template-columns: 1fr;
  }
  .load-more-btn {
    grid-column: span 1;
  }
}

/* End .content */