@import url('global.css');

/* Start main-content */
.main-content .container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  grid-template-rows: 200px 200px;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero-news {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2px;
  padding: 14px;
  color: var(--second-color);
}
.hero-news::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #00000076;
}
.hero-news__image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.hero-news__type {
  background-color: var(--main-color);
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px 14px;
  font-size: 14px;
  border-radius: 4px;
  color: var(--second-color);
}
.hero-news__date {
  color: var(--main-color);
  font-weight: 600;
}
.hero-news__author {
  color: var(--fourth-color);
  font-size: var(--news-description-fs);
}
.hero-news__title {
  color: var(--second-color);
}
.hero-news__description {
  font-size: var(--news-description-fs);
  

  /* Adding [...] at the end of the text; when text over 2 lines */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hero-news-first .hero-news__title {
  font-size: 24px;
}

/* Style font sizes of small main news */
.hero-news-third .hero-news__title,
.hero-news-fourth .hero-news__title {
  font-size: 14px;
} 
.hero-news-third .hero-news__description,
.hero-news-fourth .hero-news__description {
  font-size: 11px;
} 

/* Style Layout of main head-lines */
.hero-news-first {
  grid-area: 1 / 1 / 3 / 2;
}
.hero-news-second {
  grid-area: 1 / 2 / 2 / 4;
}
.hero-news-third {
  grid-area: 2 / 2 / 3 / 3;
}
.hero-news-fourth {
  grid-area: 2 / 3 / 3 / 4;
}

.hero-news__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .main-content .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .hero-news {
    grid-area: unset;
    min-height: 250px;
  }
  /* All news heading resetted to same value */
  .hero-news .hero-news__title {
    font-size: 14px;
  }
}

/* End main-content */


/* Start Google Ads */
.ads-section {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ads-heading {
  color: var(--fourth-color);
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
}
.ads-img {
  width: 100%;
}
/* End Google Ads */

/* Start Content */
.content {
  margin-top: 20px;
  margin-bottom: 20px;
}
.content .container {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 20px;
}
.content__section {
  margin-bottom: 20px;
}
.content__cards {
  display: flex;
  gap: 20px;
}
.content__heading {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-heading__link {
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.card__image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  margin-bottom: 10px;
}
.card__heading {
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card__info {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  margin-top: 4px;
  margin-bottom: 4px;
  color: var(--fourth-color);
}
.card__description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--third-color);
  font-size: 12px;
}

@media (max-width: 970px) {
  .content .container {
    grid-template-columns: 1fr;
  }
  .content__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
/* End Content */


/* Start Sidebar */
.sidebar__heading {
  margin-bottom: 20px;
  background-color: var(--main-color);
  color: var(--second-color);
  border-radius: 6px;
  padding: 6px 20px;
}
.sidebar__cards {
  display: grid;
  gap: 10px;
}
.sidebar__card {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 10px;
}
.video-thumbnail {
  position: relative;
}
.video-thumbnail__time {
  position: absolute;
  bottom: 4px;
  left: 4px;
  background-color: var(--third-color);
  font-size: 12px;
  color: var(--second-color);
  padding: 4px;
}
.video-thumbnail__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar-card__details {
  margin-top: 10px;
}
.sidebar-card__date {
  color: var(--fourth-color);
  margin-top: 4px;
  font-size: 14px;
}

.sidebar-ads__heading {
  margin-top: 20px;
}
.sidebar-ads__image {
  width: 100%;
}
/* End Sidebar */

